{% load static %}

<!-- <h1>Hellow world</h1>
<img src="{% static 'images/y2wfqj.jpg' %}"> -->


{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Design Normad</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/y2wfqj.jpg' %}" >
					<hr>
					<h4>Hi I'm Anthony!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Gig as Techie</h4>
					<hr>
					<p>3 months after writing my first Hello World program on May 8th 2022 (While studying estate management in the university as an undergraduate) I was designing a landing page for my UI daily challenge when when my mum revealed to me that her friends ccompany was looing for a designer to design their web portfolio i asked for their details and got to work.</p>

					<p>Before I knew it i was working with an oil exporting firm in abuja felt like a dream at first but the more i pinched my self the more it got real, the job didn't pay that much but it was wort the experince.</p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/icons8-facebook-64.png' %}"></li>
						<li><img class="social" src="{% static 'images/icons8-linkedin-48.png' %}"></li>
						<li><img class="social" src="{% static 'images/icons8-github-48 (1).png' %}"></li>
						<li><img class="social" src="{% static 'images/icons8-twitter-32.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Indie Backend Developer</p>
					<p>worked on an NFT minting website as of december 2022, i then went ahaead to write a code that generates random NFT pixels with rare one's in the mix</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, Figma, Adobe suites</p>
					<p>PS: Working on Node JS,</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Build one code at a time test run each line to make sure it's working</p>

					<p>I can learn just about anything by having a step by step guide on how to build those projects. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After a year of being in the tech industry i finally carved out my niche in design and developing, now i can focus on building my brand as a dual threat (Designe & Developer) and try to inspire people like me to chase their dreams and work towards it.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>




































